*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

.yellow {
  background-color: #ffbf47;
}
.light-blue {
  background-color: #3bbce3;
}
.purple {
  background-color: #dc91d8;
}
.light-green {
  background-color: #8ed78f;
}

/* HEADER */

.header {
  background-color: #f3f7f8;
  padding-bottom: 60px;
  margin-bottom: 60px;
}

.header-top-row {
  margin-bottom: 46px;

  background-color: #293449;
  box-shadow: inset 0 -5px 0 #f3f7f8;
}

.header-top-box {
  width: 940px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header-logo {
  width: 220px;
  height: 47px;
  padding-top: 13px;
  padding-bottom: 15px;
  
  text-align: center;

  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.search-form {
  display: block;
  width: 287px;
  padding-top: 14px;
  padding-bottom: 13px;
}

.search-form input,
button {
  background-color: transparent;
  border: none;
}

.header-top-box button {
  padding: 14px;
  color: #ffffff;
}

.order-link {
  display: block;
  width: 150px;
  padding-top: 11px;
  padding-bottom: 11px;
  line-height: 20px;

  color: #ffffff;
  text-align: center;
  
  background-color: #63a63e;
}

.header-middle-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 44px;
}

.description {
  margin: 0;
  margin-left: 53px;

  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
}

.contacts {
  width: 270px;
}

.contacts button {
  width: 270px;
  height: 45px;
  
  font-size: 21px;
  color: #ee3643;

  border: 3px solid #ffffff;
}

.contacts p {
  margin-top: 10px;

  font-size: 14px;
  text-align: center;
  color: #32425c;
}

.user-navigation {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 280px;

  font-size: 21px;
}

.user-navigation li {
  padding: 14px;

  list-style-type: none;
  
  background-color: #ffffff;
}

.user-navigation a {
  color: #000000;
}

.site-navigation {
  display: flex;
  justify-content: center;
  color: #ffffff;
  box-shadow: inset 0 -5px 0 #293449;
  padding: 0;
  background-color: #32425c;
  list-style: none;
  width: 940px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  line-height: 17px;
  
}


.site-navigation li {
  padding-top: 22px;
  padding-bottom: 26px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  font-size: 17px;
  line-height: 17px;

}

.site-navigation li:hover {
  background-color: #293449;
}

.site-navigation a {
  color: #ffffff;

}

/* MAIN */

.catalog,
.index-row {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.catalog-list,
.index-row {
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 20px;
}

.advantages-list {
  height: 266px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.catalog-item,
.advantages-item {
  width: 300px;
  height: 123px;
}

.catalog-item h3,
.advantages-item h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  margin-left: 25px;
  margin-top: 22px;
  margin-bottom: 11px;
  line-height: 30px;
}

.catalog-item a,
.advantages-item a {
  display: inline-block;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin-left: 25px;
}

.gallery {
  width: 620px;
  height: 266px;
  background-color: cadetblue;
  margin: 0;
  position: relative;
}

.gallery figure {
  margin: 0;
}

.gallery-description {
  position: absolute;
  top: 27px;
  left: 24px;
}

.gallery-description h3 {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.gallery-description p {
  margin-top: 8px;
  font-size: 18px;
}

.gallery a {
  position: absolute;
  bottom: 22px;
  left: 25px;
  width: 195px;
  height: 38px;
  background-color: #ee3643;
  border-radius: 3px;
  text-align: center;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 14px;
  line-height: 38px;
  text-transform: uppercase;
}

/* --------------------------- */

.popular-products,
.popular-producers {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.popular-products-box,
.popular-producers-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f5f0;
}

.popular-products-box h2,
.popular-producers-box h2 {
  font-size: 30px;
  line-height: 21px;
  text-transform: uppercase;
  color: #32425c;
  padding-top: 33px;
  padding-bottom: 35px;
  padding-left: 30px;
  margin: 0;

}

.button {
  display: block;
  background-color: #ee3643;
  height: 38px;
  width: 253px;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  vertical-align:;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 2px;
  margin-right: 24px;
}

.popular-products-list,
.popular-producers-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
}

.popular-products-item {
  width: 220px;
  height: 318px;
  border: 1px solid #eaeaea;
  text-align: center;
}

.popular-products-item h3 {
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  margin: 0;
}

.popular-products-item p {
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: #a9a9a9;
  margin: 0;
}

.popular-products-item p:last-child  {
  color: #ffffff;
  background-image: url("../img/price_tag.png");
  width: 141px;
  height: 38px;
  margin: 0;
}

.popular-producers-item {
  width: 220px;
  height: 145px;
  border: 1px solid #eaeaea;
  text-align: center;
  margin-bottom: 20px;

}

.services {
  background-color: #f4f8f9;
  font-family: Cuprum;
  color: #000000;
}

.servises-box {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.services-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.services p {
  font-size: 14px;
  line-height: 24px;
}

.services-list li {
  width: 240px;
  height: 61px;
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  background-color: #32425c;
}

.services-list button {
  color: #ffffff;
  font-family: Cuprum;
  font-size: 21px;
  font-weight: 700;
}

.services-type h3 {
  color: #32425c;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.services-type a {
  width: 195px;
  height: 38px;
  background-color: #ff5357;

  font-size: 14px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font-family: Cuprum;
}

.index-columns {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  color: #000000;
}

.index-columns h2 {
  font-family: Cuprum;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.index-columns p {
  line-height: 24px;
}

.additional-info ul {
  font-family: Cuprum;
  font-size: 18px;
  line-height: 30px;
}

.footer-top-box {
  background-color: #32425c;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 68px;
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}