html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit; /*Найти инфу, почему нужно так писать*/
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

/* ------------------------------------------- */

.header {
  background-color: #dee3e4;
  padding-bottom: 60px;
}

.header-top-row {
  background-color: #293449;
}

.header-top-box {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 47px;
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.header-logo:hover,
.header-logo:focus {
  background-color: #ca2c37;
}

.header-logo:active {
  background-color: #ba2732;
}

.search-form input,
button {
  background-color: transparent;
  border: none;
}

.header-top-box button {
  color: #ffffff;
}

.order-link {
  background-color: #63a63e;
}

.header-middle-box {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 46px;
}

.description {
  color: #ee3643;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
}

.contacts {
  width: 270px;
}

.contacts button {
  border: 3px solid #ffffff;
  width: 270px;
  height: 45px;
  font-size: 21px;
  color: #ee3643;
}

.contacts p {
  font-size: 14px;
  color: #32425c;
  text-align: center;
  margin-top: 10px;
}

.user-navigation {
  padding: 0;
  font-size: 21px;
}

.user-navigation li {
  list-style-type: none;
  background-color: #ffffff;
}

.user-navigation a {
  color: #000000;
}

.site-navigation {
  font-size: 17px;
  line-height: 20px;
  color: #ffffff;
  box-shadow: inset 0 -5px 0 #293449;
  padding: 0;
  background-color: #32425c;
  list-style: none;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.site-navigation a:link,
.site-navigation a:visited {
  color: #ffffff;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:focus {
  background-color: #293449;
  outline: none;
}

.site-navigation a:active {
  background-color: #1d2739;
  color: #878c96;
}

.main {
}

.catalog {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.catalog-list {
}

.catalog-item {
  width: 300px;
  height: 123px;
  background-color: #ffbf47;
}

.catalog-item h3 {
  font-size: 24px;
  font-weight: 700;
}

.catalog-item a {
  color: #ffffff;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 14px;
  background-color: rgba(0, 0, 0, 0.1);
}
